brotli==1.2.0
cffi==2.1.1
charset-normalizer==3.5.1
cobble==0.1.4
cssselect2==0.10.1
et_xmlfile==2.0.0
fonttools==4.64.0
Jinja2==3.1.6
lxml==6.1.0
mammoth==1.12.1
MarkupSafe==3.0.3
openpyxl==3.1.5
pillow==12.2.0
pycparser==3.0
pydyf==0.12.1
pyphen==0.18.1
python-docx==1.2.0
python-pptx==1.0.2
reportlab==5.0.1
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
weasyprint==70.0
webencodings==0.6.1
xlsxwriter==3.2.9
zopfli==0.4.3
